*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none; /* optional: remove underline */
}

html, body{
    height: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #F8FAFC;
    scroll-behavior: smooth;
}

.picture {
    width: 20vw;
    height: 64vh;
    overflow: hidden;
    border-radius: 200px;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page{
    width: 100%;
    min-height: 100vh;
    height: auto;

    margin-bottom: -75px;

}

.headername{
    position: fixed;
    top: -10px;
    left: 75px;

    font-weight: 400;

    font-size: 30px;
    color: #F8FAFC;
}

header{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    background-color: #0F172A;
    position: fixed;
    z-index: 1;
}

header  a  h1{
  font-size: 1.2rem;
  font-weight: 500;
  color: #F8FAFC;
}

header a{
    transition: 0.3s ease;
}

header a:hover{
    transform: scale(1.15);
}

header h1 {
  padding: 3px 10px;
}

header a h1:hover {
    background-color: #0D9488;
    text-decoration: none;
    border-radius: 0.3em;
 
}

.mainframe{
    width: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 80%;
    height: 65%;

    padding: 2% 4%;

    display: flex;
    border: rgb(167, 167, 167) 5px solid;
}

.maintext{
    position: relative;
    flex: 2;
    /*border: black 2px solid;*/

    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0;
    white-space: normal;
    padding-right: 30px;
}


.picture{
    flex: 1;
    /*border: black 2px solid;*/
}

.maintext h1{
    font-size: 7vw;
    color: #0d162b;

    margin: 0;
    padding: 0;
}

.maintext h2{
    color: #0f8b7d;
    font-size: 4vw;

    margin-top: -2.5vw;
    margin-bottom: -0.7vw;
    padding: 0;

    font-weight: 600;
}

.maintext h3{
    color: #0f8b7d;
    font-size: 1.5vw;

    font-weight: 400;
}

.foot{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 3%;

    /*border: black 2px solid;*/
}

.icon{
    width: 6%;
}

.icon img{
    width: 100%;
    height: auto;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    /*border: black 2px solid;*/
    width: 20%;
    border-radius: 25px;
    background-color: #0d162b;
    font-size: 1vw;
    color: #F8FAFC;

    transition: 0.3s ease;
}

.button:hover{
    transform: scale(1.1);
    background-color: #0d162b;
    color: #F8FAFC;
}

.button p, .button{
    line-height: 1.1vw;
    text-align: center;
    font-weight: 700;
}

.icon img{
    transition: 0.3s ease;
}

.icon img:hover{
    transform: scale(1.2);
}

/*expeience section*/

.experience {
  margin: 2rem auto;
  max-width: 1500px;
  padding: 3rem 1.25rem;
  /*border: black 2px solid;*/
}

.timeline {
  list-style: none;
  padding: 0 5rem;
}

.tl-item{
    padding-bottom: 2.2rem;
}

.xp-title{
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 5rem;
  color: #1e293b;
}
 
.tl-card {
  background: #0d162b;
  border-radius: 2rem;
  color: #F8FAFC;
  padding: 30px;
  transition: transform .15s ease, box-shadow .15s ease;
  font-size: large;
}

.tl-card:hover {
   box-shadow: 0 4px 10px rgb(53, 53, 53);
   transform: translateY(-10px);
}

.tl-top {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.tl-top h3{
  font-size: 1.5rem;
}

.tl-meta {
  color: #dbeafe;
  margin: .2rem 0 0;
}

.tl-badge {
  margin-top: 1.1rem;
  background: #dcfce7;
  border-radius: .5rem;
  color: #15803d;
  font-size: 1rem;
  font-weight: 500;
  padding: .35rem .5rem;
  white-space: nowrap;
}


.badge-blue {
  background: #dbeafe;
  color: #1d4ed8;
}

.badge-yellow {
  background: #fef9c3;
  color: #a16207;
}

.tl-bullets {
  color: #dbeafe;
  margin: 1.8rem;
}

.tl-bullets li {
  margin: .5rem 0;
}

/* tech chips */
.tl-tags {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  margin-top: .35rem;
  color: rgb(204, 204, 204);
}

.tl-tags span {
  border-radius: .5rem;
  font-size: .78rem;
  padding: .25rem .5rem;
}



/*Skills section*/

.skills-section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 100px;
  /*border: black, 2px, solid;*/
}

.skills-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 5rem;
  color: #1e293b;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  /*border: black, 2px, solid;*/
}

.skill-card {
  background-color: #0d162b;
  border-radius: 12px;
  padding: 18px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgb(53, 53, 53);
}

.skill-icon {
  width: 70px;
  height: 70px;
  margin: 10px;
  object-fit:contain;
}

.skill-card h3 {
  font-size: 1.2rem;
  margin-bottom: 6px;
  color: #F8FAFC;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  /*border: white 1px solid;*/
}

.skill-card p {
  font-size: 1rem;
  color: #dbeafe;
  margin: 4px 0 10px;
}

.chip {
  font-size: 0.8rem;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 600;
}

.intermediate {
  background-color: #dbeafe;
  color: #1d4ed8;
}

.advanced {
  background-color: #dcfce7;
  color: #15803d;
}